*{
  padding: 0;
  margin: 0;
}

.body{
  max-width: 100vw;
  min-height: 100vh;
  background-color: #440544;
  display: flex;
  justify-content: center;
}

.main-container{
  margin: 3rem 0;
  background-color: #f7f2f2;
  min-height: 70%;
  width: 79%;
  display: flex;
  padding: 2.7rem;
}

.main-container h2{
  flex:1;
  padding-right: 1rem;
  font-size: 3rem;
  font-weight: 300;
}
.questions-container{
  flex: 2;
}

.qustions-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}